
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>

 {{> _header }}
    {{{body}}}
{{> _footer }}

</body>
</html>
