<%
const details=templateDetails
const defaultValues = {
	title: "New Verification Request",
	name: "Admin User",
	userHandle: "[User Name Unknown]"
}
%>
<%- include('./partials/header.ejs'); -%>
<h1><%=details.title ? details.title : defaultValues.title%></h1>
<div>Hello <%=details.name ? details.name : defaultValues.name%>, <strong>@<%=details.userHandle ? details.userHandle : defaultValues.user%></strong> has submmited a file for verification.</div>
<table width="100%" cellspacing="0" cellpadding="0" style="margin-top: 25px">
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td style="border-radius: 2px; background-color: #51C46C">
						<a href="http://localhost:3000/system/<%=details.userId%>/0" target="_blank" style="padding: 8px 50px; border: 1px solid #51C46C;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
							View @<%=details.userHandle%>'s Request
						</a>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<% if(details.showAllPending) { %>
<table width="100%" cellspacing="0" cellpadding="0" style="margin-top: 15px">
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td style="border-radius: 2px; background-color:#51C46C">
						<a href="http://localhost:3000/system/all-pending-request/1" target="_blank" style="padding: 8px 50px; border: 1px solid #51C46C;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
							View All Pending Verification Requests
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table><% }%>
<%- include('./partials/footer.ejs'); -%>
