<%
const details=templateDetails
const defaultValues = {
		title: "Welcome!!! To SealDealFinder.com",
		name: "[Unknown User]"
	}
%>
<%- include('./partials/header.ejs'); -%>

<h1> <%= details.title?details.title: defaultValues.title%></h1>
<div>Hello <%= details.name?details.name: defaultValues.name %>, welcome to sealdealfinder.com.</div>

<%- include('./partials/footer.ejs'); -%>
