<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.footer-border {
			width: 100%;
			height: 35px;
			background-color: #51C46C;
			margin-top: 35px;
		}

		.header-border {
			width: 100%;
			height: 5px;
			background-color: #51C46C;
			margin-bottom: 15px;
		}
	</style>
</head>
<div class="header-border"></div>

<body>

	<img src="<%=imageBaseUrl%>/static/media/website-logo@177.829deccb.png" alt="logo" width="300" /><br />
